.btn {
  padding: 1.2rem 1.5rem;
  background-color: #0099ff;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 1.2rem;
}
