@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
span,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*---- Helpers Class ----*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}
